html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
some general css to code easier
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
svg,img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.full-block{
    float: left;
    width: 100%;
}
/*header*/
.web-header-very-top{
    background-color: #000000;
    margin-bottom: 20px;
}
.web-header-very-top p{
    color: #BFBFBF;
    font-size: 15px;
    line-height: 1.33em;
}
.web-header-very-top_flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.web-header-very-top .web-header-very-top_social-media ul{
    display: flex;
}
.web-header-very-top .web-header-very-top_social-media ul li{
    text-align: center;
    line-height: 32px;
    border-left: 1px solid #707070;
    width: 36px;
}
.web-header-very-top .web-header-very-top_social-media ul li:last-child{
    border-right: 1px solid #707070;
}
.web-header-very-top .web-header-very-top_social-media ul li a{
    padding: 0 6px;
    color: #BFBFBF;
}

/*web header top*/
.web-header-top-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.web-header-top .web-header-top-contact-us{
    display: flex;
    align-items: center;
}
.web-header-top .web-header-top-contact-us div{
    margin-right: 42px;
    text-transform: uppercase;
}
.web-header-top-contact-us div p:first-child{
    font-size: 14px;
    line-height: 2.86em;
}
.web-header-top-contact-us_phone-number{
    font-size: 26px;
    line-height: 1em;
    font-weight: 300;
}
.web-header-top-contact-us button{
    background-color: #FF7800;
    border: 1px solid #FF7800;
    color: #ffffff;
    font-size: 15px;
    line-height: 44px;
    width: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-header-top-contact-us button img{
    margin-right: 11px;
}
/*navigation section*/
.navigation{
    border-top: 1px solid #e7e7e7;
}
.navigation .container{
    display: flex;
    line-height: 57px;
}
.navigation nav{
    width: 76%;
    margin-right: 32px;
}
.navigation nav ul{
    display: flex;
    justify-content: space-between;
}
.navigation nav ul li {
    position: relative;
}
.navigation nav ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 13px;
    color: #000000;
}
.navigation-search input{
    outline: none;
    line-height: 24px;
    padding: 0 8px;
    border: 1px solid #707070;
    border-radius: 4px;
    display: none;
}
.navigation-search #show-search-btn{
    background: transparent;
    border: none;
    cursor: pointer;
}
.navigation-search #show-search-btn i{
    width: 50px;
    height: 50px;
}
.navigation nav ul li:hover::before{
    content: "";
    width: 100%;
    top: 0;
    bottom: 0;
    height: 2px;
    background-color: #FF7800;
    position: absolute;
}
/*Hero banner section*/
.hero-banner{
    background-image: url("assets/images/banner-image.png");
    background-position: 0% 5%;
    padding: 58px 0 100px 0;
}
.hero-banner .hero-banner-slider{
    color: #fff;
   
}
.hero-banner .hero-banner-slider h1{
    font-size: 40px;
    line-height: 1.25em;
    font-weight: 600;
}
.hero-banner .hero-banner-slider p{
    font-size: 15px;
    line-height: 1.86em;
}
.hero-banner .hero-banner-slider a{
    display: inline-block;
    float: left;
    text-transform: uppercase;
    background-color: #FF7800;
    padding: 0 30px;
    text-decoration: none;
    margin-top: 42px;
    margin-bottom: 70px;
    color: #ffffff;
    font-size: 17px;
    line-height: 3.62em;
}
.hero-banner .hero-banner-slider a i{
    background-color: #fff;
    width: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    margin-left: 14px;
    color: #FF7800;
}
.hero-banner .hero-slider-dots{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
.hero-banner .hero-slider-dots div{
    width: 9px;
    height: 9px;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #707070;
}
.hero-banner .hero-slider-dots div.hero-slider-dots__active{
    background-color: #FF7800;
}
.hero-banner .hero-banner-articles{
    float: left;
    display: flex;
    justify-content: space-between;
}
.hero-banner .hero-banner-articles article{
    width: calc(25% - 3px);
    background-color: #ffffff;
    padding: 32px 58px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-banner .hero-banner-articles article img{
    margin-bottom: 24px;
}
.hero-banner .hero-banner-articles article h2{
    font-size: 18px;
    line-height: 1.39em;
    margin-bottom: 11px;
}
.hero-banner .hero-banner-articles article p{
    font-size: 15px;
    line-height: 1.46em;
    margin-bottom: 35px;
}
.hero-banner .hero-banner-articles article a{
    color: #FF7800;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.38em;
}
/*About us section*/
.about-us{
    display: flex;
    flex-direction: row;
}

.about-us .about-msg .larger-about-p{
    font-size: larger;
}
.about-us .about-msg p{
    font-size: smaller;
}
.about-msg{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.about-msg p{
    margin-top: 20px;
}

.read-more-btn{
    text-decoration: none;
    color: #FF983D;
    border: 2px solid #FF983D;
    padding: 7px 12px 7px 12px;
    font-size: 10px;
    float: left;
    max-width: fit-content;
    margin-top: 20px;
}

.welcome-message{
    margin: 25px;
    width: auto;
}

.welcome-message p .wlc{
    font-size: 27px;
}

.welcome-message p .plaintiff{
    color: #FF983D;
    font-size: 40px;
}

.welcome-message p .personal-il{
    color: #FF983D;
    font-size: 20px;
}

/*Practice section*/
.practice{
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    background-image: url(assets/images/practice-background.png);
}

.practice-icons{
    display: grid;
    grid-template-columns: 50% 50%;
}

/*Testemonials section*/
.testimonials{
    display: flex;
    flex-direction: row;
}

.tst_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.tst_m_txt{
    text-align: center;
    margin: 20px 80px;
    font-size: 23.91px;
}

#tst_t_txt{
    font-size: 30px;
    
}

.tst_person{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.tst_p_dscr{
    color: #404040;
    font-size: 15px;
}

.tst_p_name{
    color: #FF983D;
    font-size: 18px;
}

.tst_vat_button{
    text-decoration: none;
    color: #FF983D;
    border: 2px solid #FF983D;
    padding: 7px 12px 7px 12px;
    font-size: 14px;
    float: left;
    max-width: fit-content;
    margin-top: 50px;
}

.tst_move{
    margin-top: 100px;
    fill: #FF983D;
}

/*Awards And Achievements section*/

.aaa_desc{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.aaa_upper{
    width: 55%;
    font-size: 15px;
}

.aaa_title{
    font-size: 32px;
}

.aaa_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.aaa{
    width: 100%;
    background-color: #161616;
    color: #ffffff;
}

.aaa_stats{
    display: flex;
    flex-direction: row;
    justify-content:left;
    font-size: 16px;

}

.a_s_left{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    padding: 8%;
}

.a_s_left p{
    width: 110%;
    height: 75%;
    padding-right: 40%;
    text-align: right;    
}

.a_s_ll{
    border-right: #2c2c2c2c;
    border-style: solid;
    border-radius: 1px;
}

.a_s_left span{
    font-size: 48px;
    color: #FF7800;
}

.a_s_right{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.a_s_right progress{
    width:250%;
    height: 36px;
}


#prog1{
    accent-color: #A5CD50;
}

#prog2{
    accent-color: #FF7800;
}

#prog3{
    accent-color: #00B3EE;
}

#prog4{
    accent-color: #7C8492;
}



.consultation{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-image: url("assets/images/consultationphoto.png");
}

.consultation-container{
    max-width: 900px;
    color: white;
    padding-top: 90px;
    padding-bottom: 50px;
}

.consultation-title{
    font-size: 25px;
    margin-bottom: 10px;
}

.consultation-text{
    font-size: smaller;
    margin-bottom: 20px;
}

.consultation-form{
    display: flex;
    flex-direction: column;
}

.consultation-name-tel-email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.consultation-name-tel-email input{
    max-width: 200px;
    padding: 10px;
}

.consultation-case textarea{
    resize: none;
}

.consultation-required-areas{
    display: flex;
    flex-direction: row;
}

.consultation-btn{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.consultation-btn p{
    align-self: flex-start;
    float: left;
    font-size: 10px;
    padding-top: 15px;
}

.consultation-btn-submit{
    float: right;
    background-color: #FF7800;
    color: white;
    padding: 10px;
}