html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
some general css to code easier
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
svg,img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.full-block{
    float: left;
    width: 100%;
}
/*header*/
.web-header-very-top{
    background-color: #000000;
    margin-bottom: 20px;
}
.web-header-very-top p{
    color: #BFBFBF;
    font-size: 15px;
    line-height: 1.33em;
}
/*web header top*/
.web-header-top-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.web-header-top .web-header-top-contact-us{
    display: flex;
    align-items: center;
}
.web-header-top .web-header-top-contact-us div{
    margin-right: 42px;
    text-transform: uppercase;
}
.web-header-top-contact-us div p:first-child{
    font-size: 14px;
    line-height: 2.86em;
}
.web-header-top-contact-us_phone-number{
    font-size: 26px;
    line-height: 1em;
    font-weight: 300;
}
.web-header-top-contact-us button{
    background-color: #FF7800;
    border: 1px solid #FF7800;
    color: #ffffff;
    font-size: 15px;
    line-height: 44px;
    width: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-header-top-contact-us button img{
    margin-right: 11px;
}
/*navigation section*/
.navigation{
    border-top: 1px solid #e7e7e7;
}
.navigation .container{
    display: flex;
    line-height: 57px;
}
.navigation nav{
    width: 76%;
    margin-right: 32px;
}
.navigation nav ul{
    display: flex;
    justify-content: space-between;
}
.navigation nav ul li {
    position: relative;
}
.navigation nav ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 13px;
    color: #000000;
}
.navigation nav ul li:hover::before{
    content: "";
    width: 100%;
    top: 0;
    bottom: 0;
    height: 2px;
    background-color: #FF7800;
    position: absolute;
}
/*Hero banner section*/
.hero-banner{
    background-image: url("assets/images/banner-image.png");
}
/*About us section*/
.about-us{
    display: flex;
    flex-direction: row;
}

.about-us .about-msg .larger-about-p{
    font-size: larger;
}
.about-us .about-msg p{
    font-size: smaller;
}
.about-msg{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.about-msg p{
    margin-top: 20px;
}

.read-more-btn{
    text-decoration: none;
    color: #FF983D;
    border: 2px solid #FF983D;
    padding: 7px 12px 7px 12px;
    font-size: 10px;
    float: left;
    max-width: fit-content;
    margin-top: 20px;
}

.welcome-message{
    margin: 25px;
    width: auto;
}

.welcome-message p .wlc{
    font-size: 27px;
}

.welcome-message p .plaintiff{
    color: #FF983D;
    font-size: 40px;
}

.welcome-message p .personal-il{
    color: #FF983D;
    font-size: 20px;
}


/*Testemonials section*/
.testimonials{
    display: flex;
    flex-direction: row;
}

.tst_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.tst_m_txt{
    text-align: center;
    margin: 20px 80px;
    font-size: 23.91px;
}

#tst_t_txt{
    font-size: 30px;
    
}

.tst_person{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.tst_p_dscr{
    color: #404040;
    font-size: 15px;
}

.tst_p_name{
    color: #FF983D;
    font-size: 18px;
}

.tst_vat_button{
    text-decoration: none;
    color: #FF983D;
    border: 2px solid #FF983D;
    padding: 7px 12px 7px 12px;
    font-size: 14px;
    float: left;
    max-width: fit-content;
    margin-top: 50px;
}

.tst_move{
    margin-top: 100px;
    fill: #FF983D;
}

/*Awards And Achievements section*/

.aaa{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.aaa_upper{
    padding-right: 500px;
    font-size: 15px;
}

.aaa_title{
    font-size: 32px;
}

.aaa_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}


.consultation{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.consultation-container{
    max-width: 900px;
}

.consultation-title{
    font-size: 25px;
}

.consultation-text{
    font-size: smaller;
    margin-bottom: 20px;
}

.consultation-form{
    display: flex;
    flex-direction: column;
}

.consultation-name-tel-email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.consultation-name-tel-email input{
    max-width: 200px;
}

.consultation-required-areas{
    display: flex;
    flex-direction: row;
}

.consultation-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.consultation-btn p{
    align-self: flex-start;
    float: left;
    font-size: 10px;
}

.consultation-btn-submit{
    float: right;
    background-color: #FF7800;
}